@import 'tailwindcss';
@plugin '@toolwind/corner-shape';
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply min-h-full bg-white text-stone-950 antialiased dark:bg-stone-950 dark:text-stone-50;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  input,
  textarea {
    @apply block w-full rounded-md border border-stone-300 bg-stone-100 px-3 py-1.5 text-base dark:border-stone-100 dark:bg-zinc-800;
  }
}
